image{
    width: 10px;
}
header{
    
}


footer{
    text-align: center;
    padding: 0%;
    background-color: black;
    color: aliceblue;
}
h1{
    background-color: black;
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}
h2{
    text-align: center;
    color: rgb(6, 56, 97);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
/*this is responsive for imagen*/
.banner{
    max-width: 100%;
    height: auto;
}
body{
    max-width: 100%;
    height: auto;
}
