*{
    box-sizing: border-box;
}
body{
    background-color: #131d2e;
    max-width: 100%;
    height: auto;
    margin: 0px;
}

section{
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #153769;
    padding: 0%;
    text-align: center;
}
nav a{
    color: white;
    margin: 10px;
    text-decoration: none;
}
button{
    background-color: #153769;
}
h1{
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
/*this is responsive for imagen*/
.banner{
    max-width: 100%;
    height: auto;
}

footer{
    position: static;
    font-size: 8px;
    text-align: center;
    padding: 0%;
    color: aliceblue;
}

.comicpicture img{
    display:block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

.portrait img{
    width: 30%;
     margin: 1%;
     border-radius: 5%; 
}
@media(min-width:768px){
    .portrait img{
        width: 17%;
        height: auto;
    }
}

.followme{
    display: flex;
    flex-direction: row;
    align-items: center;
    scale: 30%;
    height: auto;
}


